<%- include('partials/header') %>

<h1><%= title %> </h1>

<p> <%= content %> </p>

<form action="/delete" method="post">
    <input type="hidden" name="postID" value="<%= id %>">
    <button class="btn btn-primary" type="submit" name="buttonDelete">Delete</button>
</form>

<a href="/posts/<%= id %>/update" class="btn btn-primary">Update</a>

<%- include('partials/footer') %>